<section class="schedule-demo" id="bookCall">
  <div class="container">
    <h2 class="text-center title-main-page"><span>Schedule a Demo</span></h2>
    <div class="row g-4">
      <div class="col-lg-5">
        <h5 class="text-primary">Why Book a Demo</h5>
        <h4>Enabling businesses to increase engagement and maximize their return on investment</h4>
        <h6>Connect with our team to:</h6>
        <ul>
          <li><i class="fi fi-rr-check-circle"></i> Maximize your engagement ROI with <span>Notify</span>.</li>
          <li><i class="fi fi-rr-check-circle"></i> Choose the right pricing plan for your business.</li>
          <li><i class="fi fi-rr-check-circle"></i> Explore industry-specific use cases.</li>
          <li><i class="fi fi-rr-check-circle"></i> Get expert answers to all your <span>Notify</span> questions.</li>
        </ul>
      </div>
      <div class="col-lg-7">
        <div class="row g-3">
          <div class="col-lg-6">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">First Name</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Last Name</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Job Title</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating ">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Business E-mail</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Phone Number</label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-floating ">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Company Name</label>
            </div>
          </div>
          <div class="col-lg-12">
            <button class="btn btn-primary btn-lg rounded-pill w-100">Book a Call</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
