<section class="platform-applications padding-section" id="about">
  <div class="curve curve-2">
  <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>
</div>
  <div class="container">
    <div class="row align-items-center g-4">
      <div class="col-lg-6">
        <div class="content">

          <h4 >Platform Applications</h4>
          <h3 >Empowering businesses to grow, retain customers, and increase lifetime value with personalized omnichannel engagement</h3>
          <p class="line-clamp-8">Dummy text of the printing and typesetting  industry. Lorem Ipsum has been the industry's standard dummy text ever  since the 1500s, when an unknown printer took a galley of type and  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining  essentially unchanged. It was popularised in the 1960s with the release  of Letraset sheets containing Lorem Ipsum passages, and more recently  with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img src="./assets/imgs/Group4.png" alt="platform-applications">
      </div>
    </div>
  </div>
</section>
