<main class="main-banner " id="home">

  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-9">
        <div class="title-content">

          <h1 class="line-clamp-3">{{"mainBanner.title" | translate}}</h1>
          <p class="line-clamp-2">{{"mainBanner.description" | translate}}</p>
          <div class="button-group">
            <button class="btn btn-primary  btn-lg me-2">{{"mainBanner.btn1" | translate}}</button>
            <button class="btn btn-outline-light  btn-lg"><i class="fi fi-rr-play-circle"></i>{{"mainBanner.btn2" | translate}}</button>
          </div>
          <div class="info-group">
            <span><i class="fi fi-rr-check-circle"></i>{{"mainBanner.info1" | translate}}</span>
            <span><i class="fi fi-rr-check-circle"></i>{{"mainBanner.info2" | translate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
