<section class="partners padding-section" id="partners">
  <div class="curve curve-2">
  <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>
</div>
  <div class="container">
    <h2 class="text-center title-main-page"><span>Partners</span></h2>
    <p class="text-center ">The results speak for themselves — over 20 companies build with Notify</p>
    <div class="row g-4">
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
          <img src="../../../../../assets/imgs/logos/Raya.png" alt="partner1">

        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
          <img src="../../../../../assets/imgs/logos/COWPAY.png" alt="partner2">
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
                <div class="partner-card">

                  <img src="../../../../../assets/imgs/logos/e-finance.png" alt="partner3">
                </div>

      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
          <img src="../../../../../assets/imgs/logos/Odoo.png" alt="partner4">
        </div>
      </div>
       <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
          <img src="../../../../../assets/imgs/logos/Innovatrics.png" alt="partner1">
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
        <img src="../../../../../assets/imgs/logos/egypt-post.png" alt="partner2">
        </div>
        </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
          <img src="../../../../../assets/imgs/logos/NASPS.png" alt="partner2">
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <div class="partner-card">
          <img src="../../../../../assets/imgs/logos/Entrus.png" alt="partner2">
        </div>
      </div>
    </div>
  </div>
  <div class="curve">
  <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>
</div>
</section>
