

<nav class="navbar "  [class.nav-fixed]="isFixed">
  <div class="container">
    <a class="navbar-brand" routerLink="/homePlus" fragment="homePlus" (click)="scrollToTop($event)">
      @if (themeDark === "light") {
      <img src="./assets/imgs/logoLight.svg" alt="Logo" class />
      } @else {
      <img src="./assets/imgs/logoDark.svg" alt="Logo" />
      }


    </a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'about'" routerLink="/about" fragment="about"
            (click)="setActive($event)">{{"navbar.about" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'products'" routerLink="/products" fragment="products"
            (click)="setActive($event)"> {{"navbar.products" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'pricing'" routerLink="/pricing" fragment="pricing"
            (click)="setActive($event)">{{"navbar.pricing" | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="activeSection === 'partners'" routerLink="/partners" fragment="partners"
            (click)="setActive($event)">{{"navbar.partners" | translate}}</a>
        </li>
        </ul>
        <div class="d-flex " role="search">
        <a class="btn btn-outline-primary book-call" routerLink="/bookCall" fragment="bookCall"
          (click)="setActive($event)">
          {{"navbar.bookCall" | translate}}</a>
      </div>
      </div>
    </div>
    <!--  -->
    <div class="action-button d-inline-flex">
      @if(lang == "ar"){

          <button (click)="toggleLang('en')" class="btn font-en">
            <i class="fi fi-rr-globe me-1"></i>
            <span class="text">En</span>
          </button>
        } @else {
          <button (click)="toggleLang('ar')" class="btn ">
            <i class="fi fi-rr-globe me-1"></i>
            <span class="text">ع</span>
          </button>
        }

        @if(themeDark === 'light'){
          <button (click)="toggleTheme('dark')" class="btn">
                        <i class="fi fi-rr-moon-stars"></i>

          </button>
        } @else {
          <button (click)="toggleTheme('light')" class="btn">
            <i class="fi fi-rr-sun"></i>
          </button>
        }
    </div>
    <!--  -->
  </div>
  <div class="curve">
    <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>


  </div>
</nav>
