@use 'sass:color';
@use '../abstracts' as *;
footer.footer {
  background-color: var(--primary-dark-color);//#27215A;
  color: var(--white-color);

  position: relative;
  color: $white-color;
   .curve {
    path {
      fill:var(--primary-dark-color);
    }


  }
  &::before {
    display: none;
    content: '';
    position: absolute;
    inset: 0;
    height: 45px;
    top: -1px;
    background-color: var(--white-color);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;

  }

  h4 {
      color: $white-color;
      margin-bottom: rem(27);
  }
  ul {
    li {
      margin-bottom: rem(16);
      display: flex;
      i {
        margin-inline-end: rem(12);
      }
      a {
        color: $white-color;
        font-size: rem(16);
        font-weight: 400;
        transition: all 0.3s ease;
        &:hover {
          color: color.adjust($primary-color, $lightness: 30%);;
        }
      }
    }

  }
  img {
    margin-bottom: rem(25);
  }
  .social-icons {
    margin-bottom: rem(25);
    a {
      color: $white-color;
      font-size: rem(32);
      &:not(:last-child) {
        margin-inline-end: rem(10);
      }
    }
  }
  @media (max-width: 767.98px) {
    text-align: center;
    .nav-links {
      a {
        text-align: center;
        display: block;
        width: 100%;
      }
    }
    .contact-links {
      display: table;
      margin: auto;
      a {
        text-align: start;
      }
    }
  }
}


[data-bs-theme="dark"] {
  footer.footer {
     &::before {
      background-color: $gray-90-color;
     }
  }
}
