@use "../abstracts" as *;

.navbar {
  background-color: var(--white-color);
  transition: all 0.3s ease-in-out;
  padding-block: rem(16);


  &.hidden-nav {
    transform: translateY(-200%);
  }
  /* .curve {
    top: 100%;
    position: absolute;
    background-color: transparent;

  } */
  &::after {
    display: none;
    content: "";
    position: absolute;
    inset-inline: 0;
    top: 99%;
    background-color: var(--white-color);
    // background-color:#f00;
    // border-radius: 50% 50% 0 0/100% 100% 0 0;
    /*     background: url(../../imgs/Rectangle3.svg) no-repeat center center;
    background-size: cover;
 */
    height: 45px;
    clip-path: polygon(
      0% 30%,
      10% 25%,
      20% 18%,
      30% 12%,
      40% 7%,
      50% 5%,
      60% 7%,
      70% 12%,
      80% 18%,
      90% 25%,
      100% 30%,
      100% 0%,
      0% 0%
    );
    /* @media (max-width: 767.98px) {
      display: none;
    } */
  }
  .navbar-toggler {
    display: none;
    @media #{$max-l} {
      display: block;
    }
  }
  .offcanvas.offcanvas-end {
    width: rem(250);
    @media #{$max-l} {
      .navbar-nav {
        margin-bottom: rem(16);
        .nav-item {
          &:not(:last-child) {
            .nav-link {

              border-bottom: 1px solid var(--gray-30-color);
            }
          }
        }
        .nav-link {
          padding: rem(8) rem(16);
          display: block;
            width: 100%;
          &::after {
            display: none;
          }
          &.active {
            border-inline-start: 5px solid var(--primary-color);

            &::after {
              display: none;
            }
          }
        }
      }
      .btn {
        display: block;
        width: 100%;
      }
    }
    @media #{$min-l} {
      position: relative;
      width: auto;
      transform: unset;
      visibility: visible;
      border: none;
      background-color: transparent;

      flex-grow: 1;
      .offcanvas-header {
        display: none;
      }
      .offcanvas-body {
        display: flex;
        justify-content: space-between;
        padding: 0;
        .navbar-nav {
          flex-direction: row !important;
          justify-content: center !important;
        }
      }
    }
  }

  .nav-item {
    .nav-link {
      padding-inline: rem(20);
      color: var(--gray-90-color);
      font-weight: 600;
      transition: all 0.3s ease;
      width: fit-content;
      &.active {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          inset-inline-start: 50%;
          transform: translateX(-50%);
          bottom: -1px;
          width: 30px;
          height: 20px;
          transition: all 0.3s ease;
          border-radius: 50%;
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent var(--primary-color) transparent;
        }
      }
    }
  }
  .action-button {
    margin-inline-start: rem(45);
    .btn {
      padding-inline: rem(12);
      &:focus {
        border: none;
      }
    }
    .text {
      font-size: rem(12);
      font-weight: 600;
      margin-bottom: -5px;
    }
    i {
      font-size: rem(22);
    }
    @media #{$max-xl} {
      margin-inline-start: rem(16);
      .btn {
        padding-inline: rem(10);
      }
    }
  }
  &.nav-fixed {
    position: fixed;
    top: 0;
    inset-inline: 0;
    padding-block: rem(8);
    z-index: 9999;
    box-shadow: $box-shadow;
    .curve {
    height: 22px;

  }
    .navbar-brand {
      img {
        transform: scale(.85);
        transition: all 0.3s ease-in-out;
        height: 35px;
      }
    }
    .nav-link {
      padding-block: rem(4);
      font-size: rem(14);
      &::after {
        bottom: -2px;
      }
    }
    .book-call {
      font-size: rem(14);
      padding-block: 4px;
    }
    .action-button {
      i {
        font-size: rem(18);
      }
    }
  }
}
[data-bs-theme="dark"] {
  .navbar {
    // background-color: $gray-90-color;
    /* &::after {
      background-color: $gray-90-color;
    } */
    .book-call {
      border-color: $white-color;
      color: $white-color;
      &:hover {
        background-color: $white-color;
        color: $gray-90-color;
      }
    }
  }
}
[lang="en"] {
  .navbar {

    .action-button {
      .text {
        position: relative;
        top: -7px;
      }
    }
  }
}
[dir="rtl"] {
  .navbar {
    .nav-item {
      .nav-link{
        font-weight: 700;
        &.active{
          &::after {
                transform: translateX(50%);
          }
        }
      }
    }
    .action-button {
      .text {
        position: relative;
        top: -5px;
      }
    }

    .offcanvas.offcanvas-end {
      right: unset;
      inset-inline-end: 0;
      transform: none;
    }

   /*  .offcanvas.offcanvas-end {
      transform: translateX(-100%);
    }
    .offcanvas.hiding, .offcanvas.show, .offcanvas.showing {
      transform: translateX(0);
    } */
  }
}
