<section class="pricing" id="pricing">
        <div class="container">

          <h2 class="text-center title-main-page"><span>Pricing</span></h2>

          <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">SMS</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">WhatsApp</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">E-mail</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" >Web Push</button>
        </li>
        <span class="glider"></span>
      </ul>
      <p class="text-center">Choose the perfect plan for your business needs</p>
        </div>

  <div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <div class="container">
      <div class="row g-4 justify-content-center">
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="card">
            <h4>Standard</h4>
            <div class="price-number">
              <span class="number">
                $26.99
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Limited AI Segmentation</li>
              <li>  Personalization</li>
              <li>  Campaign Manager</li>
              <li>  User Role Management</li>
              <li>   24/7 Support</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="card best-price">
            <span class="label-text">popular</span>
            <h4>Business</h4>
            <div class="price-number">
              <span class="number">
                $44
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Verification Model</li>
              <li>  AI Segmentation</li>
              <li>  Unlimited Customer Journeys</li>
              <li>  Advanced Analytics</li>
              <li>    Customer Data Management</li>
            </ul>
            <button class="btn btn-light text-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-xl-4 col-md-6 col-sm-12">
          <div class="card">
            <h4>Premium</h4>
            <div class="price-number">
              <span class="number">
                $92
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Hyper Personalization</li>
              <li>  Product Recommendation</li>
              <li>  Chat Management</li>
              <li>  24/7 Support</li>
              <li>   Cohort Analytics</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
     <div class="container">
      <div class="row g-3">
        <div class="col-lg-4">
          <div class="card">
            <h4>Supporter</h4>
            <div class="price-number">
              <span class="number">
                $26.99
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Limited AI Segmentation</li>
              <li>  Personalization</li>
              <li>  Campaign Manager</li>
              <li>  User Role Management</li>
              <li>   24/7 Support</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card best-price">
            <span class="label-text">popular</span>
            <h4>Pro</h4>
            <div class="price-number">
              <span class="number">
                $44
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Verification Model</li>
              <li>  AI Segmentation</li>
              <li>  Unlimited Customer Journeys</li>
              <li>  Advanced Analytics</li>
              <li>    Customer Data Management</li>
            </ul>
            <button class="btn btn-light text-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <h4>Business</h4>
            <div class="price-number">
              <span class="number">
                $92
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Hyper Personalization</li>
              <li>  Product Recommendation</li>
              <li>  Chat Management</li>
              <li>  24/7 Support</li>
              <li>   Cohort Analytics</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
    <div class="container">
      <div class="row g-3">
        <div class="col-lg-4">
          <div class="card">
            <h4>Standard</h4>
            <div class="price-number">
              <span class="number">
                $26.99
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Limited AI Segmentation</li>
              <li>  Personalization</li>
              <li>  Campaign Manager</li>
              <li>  User Role Management</li>
              <li>   24/7 Support</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card best-price">
            <span class="label-text">popular</span>
            <h4>Business</h4>
            <div class="price-number">
              <span class="number">
                $44
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Verification Model</li>
              <li>  AI Segmentation</li>
              <li>  Unlimited Customer Journeys</li>
              <li>  Advanced Analytics</li>
              <li>    Customer Data Management</li>
            </ul>
            <button class="btn btn-light text-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <h4>Premium</h4>
            <div class="price-number">
              <span class="number">
                $92
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Hyper Personalization</li>
              <li>  Product Recommendation</li>
              <li>  Chat Management</li>
              <li>  24/7 Support</li>
              <li>   Cohort Analytics</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0"><div class="container">
      <div class="row g-3">
        <div class="col-lg-4">
          <div class="card">
            <h4>Supporter</h4>
            <div class="price-number">
              <span class="number">
                $26.99
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Limited AI Segmentation</li>
              <li>  Personalization</li>
              <li>  Campaign Manager</li>
              <li>  User Role Management</li>
              <li>   24/7 Support</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card best-price">
            <span class="label-text">popular</span>
            <h4>Pro</h4>
            <div class="price-number">
              <span class="number">
                $44
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Verification Model</li>
              <li>  AI Segmentation</li>
              <li>  Unlimited Customer Journeys</li>
              <li>  Advanced Analytics</li>
              <li>    Customer Data Management</li>
            </ul>
            <button class="btn btn-light text-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <h4>Business</h4>
            <div class="price-number">
              <span class="number">
                $92
              </span>
               <span>/month</span>
            </div>
            <ul>
              <li> Hyper Personalization</li>
              <li>  Product Recommendation</li>
              <li>  Chat Management</li>
              <li>  24/7 Support</li>
              <li>   Cohort Analytics</li>
            </ul>
            <button class="btn btn-primary d-block rounded-pill btn-lg">Buy now!</button>
          </div>
        </div>
      </div>
    </div></div>
</div>
</section>
