<section class="products padding-section" id="products">
  <div class="curve curve-2">
  <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>
</div>
  <h2 class="text-center title-main-page"><span>{{"products.title" | translate}}</span></h2>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card">
          <img src="../../../../../assets/imgs/Products1.jpg" alt="">
          <h4>{{"products.productOne.title" | translate}}</h4>
          <p class="line-clamp-4">{{"products.productOne.description" | translate}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <img src="../../../../../assets/imgs/Products2.jpg" alt="">
            <h4>{{"products.productTwo.title" | translate}}</h4>
          <p class="line-clamp-4">{{"products.productTwo.description" | translate}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="../../../../../assets/imgs/Products3.jpg" alt="">
          <h4>{{"products.productThree.title" | translate}}</h4>
          <p class="line-clamp-4">{{"products.productThree.description" | translate}}</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <img src="../../../../../assets/imgs/Products4.jpg" alt="">
            <h4>{{"products.productFour.title" | translate}}</h4>
          <p class="line-clamp-4">{{"products.productFour.description" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="curve ">
  <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>
</div>
</section>
