<section class="products" id="products">
  <h2 class="text-center title-main-page"><span>Products</span></h2>
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card">
          <img src="../../../../../assets/imgs/Products1.png" alt="">
          <h4 class="text-center">SMS</h4>
          <p class="text-center">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the  Internet. It uses a dictionary of over 200 Latin words, combined with a  handful of model sentence structures.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <img src="../../../../../assets/imgs/Products2.png" alt="">
            <h4 class="text-center">E-mail</h4>
          <p class="text-center">this a long established fact that a reader will be distracted by the  readable content of a page when looking at its layout. The point of  using Lorem Ipsum is that it has a more-or-less normal distribution of  letters, as opposed to using.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <img src="../../../../../assets/imgs/Products3.png" alt="">
          <h4 class="text-center">SMS</h4>
          <p class="text-center">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the  Internet. It uses a dictionary of over 200 Latin words, combined with a  handful of model sentence structures.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
            <img src="../../../../../assets/imgs/Products4.png" alt="">
            <h4 class="text-center">SMS</h4>
          <p class="text-center">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the  Internet. It uses a dictionary of over 200 Latin words, combined with a  handful of model sentence structures.</p>
        </div>
      </div>
    </div>
  </div>
</section>
