@use '../abstracts' as *;
.partners {
  background-color: var(--primary-color-dark);
  // padding-block: rem(115) ;
  position: relative;
  color: var(--white-color);
  .curve {
    path{
      fill:var(--primary-color-dark);
    }

  }
  .title-main-page {
    color:$white-color;
    & ~ p {
      font-size: rem(22);
      margin-bottom: rem(34);
      color:$white-color;
    }
  }
  &::before{
    display: none;
        content: "";
    position: absolute;
    inset: 0;
    height: 45px;
    top: -1px;
    background-color: var(--white-color);
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
  }
  &::after {
    display: none;
    content: '';
    position: absolute;
    inset-inline: 0;
    height: 45px;
    bottom: -1px;
    background-color: var(--white-color);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  }
  .partner-card {
    background-color: $white-color;
    border-radius: $radius-lg;
    height:  100%;
    padding-block: 50px;
    text-align: center;
    min-height: rem(216);
    justify-content: center;
    align-content: center;
    padding: var(--s-24);
    img {
      max-width: 200px;
      max-height: 120px;
      object-position: center;
      object-fit: contain;
    }
     @media #{$max-sm} {
        min-height: 120px;
    img {
      max-width: 100px;
    }
  }
  }

}

[data-bs-theme="dark"] {
  .partners {
    &::before , &::after   {
      background-color: var(--gray-10-color);
    }

  }
}
