<footer class="footer padding-section" id="footer">
  <div class="curve curve-2">
  <svg viewBox="0 0 1440 44" preserveAspectRatio="none">
    <path d="M0,44 C480,-12 960,-12 1440,44 L1440,0 L0,0 Z" />
  </svg>
</div>
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <img src="../../../../assets/imgs/logoFooter.svg" alt="">
        <div class="social-icons">
          <a href="#"><i class="fi fi-brands-facebook"></i></a>
          <a href="#"><i class="fi fi-brands-twitter-alt-circle"></i></a>
          <a href="#"><i class="fi fi-brands-youtube-circle"></i></a>
          <a href="#"><i class="fi fi-brands-linkedin-circle"></i></a>
        </div>
        <div class="copyright">
          <span>Notify © 2026.All Rights Reserved.</span>
          </div>
        </div>


      <div class="col-lg-4">
        <h4>Quick Links</h4>
        <ul class="nav-links">
          <li><a href="#">About Notify</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Partners</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h4>Get in touch</h4>
        <ul class="contact-links">
          <li><i class="fi fi-rr-marker"></i><a href="https://maps.google.com/?q=123+Main+Street,+Anytown,+USA" target="_blank">  Building B4, 5th Floor, Capital Business <br>Park, Sheikh Zayed City, 6th October,<br> Giza, Egypt.</a></li>
          <li><i class="fi fi-rr-phone-call"></i><a href="tel:+20233052878"> +202 330 52 878 / </a> <a href="tel:+20233052877">+202 330 52 877</a></li>
          <li><i class="fi fi-rr-paper-plane"></i><a href="mailto:info@luminsoft.net"> {{email}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
