<main class="main-panner" id="homePlus">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-8">
        <div class="title-content">

          <h1>Expand your reach to customers anytime, anywhere, on any device</h1>
          <p>Deliver seamless engagement across every channel and scenario — powered by our platform or yours</p>
          <div class="button-group">
            <button class="btn btn-primary rounded-pill btn-lg">Schedule a Demo</button>
            <button class="btn btn-outline-light rounded-pill btn-lg"><i class="fi fi-rr-play-circle"></i>Watch Video</button>
          </div>
          <div class="info-group">
            <span><i class="fi fi-rr-check-circle"></i>No credit card required</span>
            <span><i class="fi fi-rr-check-circle"></i>Flexible pricing</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
